.accordion {
    &__item {
        font-size: 14px;
        border-bottom: $color-border-dark 1px solid;
        transition: background-color .5s ease-in-out;

        &:first-child {
            border-radius: 8px 8px 0 0;
        }

        &:last-child {
            border-bottom: none;
            border-radius: 0 0 8px 8px;
        }

        &--open {
            background-color: $color-background-secondary;
            
            .accordion__header {
                overflow: hidden;
                color: $color-text-accent;
            }

            .accordion__content {
                color: $color-text-light;
                grid-template-rows: 1fr;
            }

            .accordion__content-inner {
                padding: 12px 20px;
            }

            .accordion__icon {
                transform: rotate(90deg);
                color: $color-text-accent;
            }
        }
    }

    &__header {
        color: $color-text-dark;
        background-color: transparent;
        padding: 5px 0;
        display: flex;
        align-items: center;
        font-family: 'Cinzel';
        font-weight: bold;
        cursor: pointer;
    }

    &__content-inner {
        overflow: hidden;
        min-height: 0;
        font-family: 'Roboto';
        font-weight: lighter;
        line-height: 140%;
        color: $color-text-light;
        padding: 0 20px;
        transition: padding .3s ease-in-out;
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .3s ease-in-out;
        will-change: grid-template-rows;
    }

    &__icon {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform .25s ease, color .25s ease;
        color: $color-text-dark;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}