// background colors
$color-background-primary: #030206;
$color-background-secondary: #2c2c2c;
$color-background-light: #d9d9d9;
$success-background-color: #E8F5E9;
$error-background-color: #f9d8d6;

// Font/text colors
$color-text-dark: #030206;
$color-text-light: #d9d9d9;
$success-text-color: #2E7D32;
$error-text-color: #f44336;

// Highloghts colors
$color-accent: #a9e2e2;
$color-border-light: #79747e;