@import 'fonts';
@import 'variables';
@import '../components/page-container/_page-container';
@import '../components/header/_header';
@import '../components/main-section/_main-section';
@import '../components/text-input/_text-input';
@import '../components/slider-input/_slider-input';
@import '../components/button-group/_button-group';
@import '../components/buttons/toggle-button/_toggle-button';
@import '../components/buttons/generate-button/_generate-button';
@import '../components/buttons/clear-button/_clear-button';
@import '../components/title/_title-page';
@import '../components/column-layout/_colulmn-layout';
@import '../components/render-image/_render-image';
@import '../components/modal/_modal';
@import '../components/toast/_toast';
@import '../components/accordion/_accordion';
@import '../pages/home/_home-page';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

html {
    font-size: 16px;
}

.bg-dark {
    background-color: $color-background-primary;
}

.bg-light {
    background-color: $color-background-light;
}

.layout {
    padding: 4.375rem 0 1.875rem 0;

    @media (min-width: 1024px) {
        height: 100vh;
        // padding: 1.875rem 0;
        gap: 5%;
    }
}