.history-layout {
    padding-top: 40px;
    gap: 40px;

    &__column--left {
        display: grid;
        gap: 25px;
    }

    .text-section {
        display: grid;
        gap: 8px;
        font-family: 'Roboto';
        line-height: 140%;
        color: $color-border-dark;
    }
}