.btn-clear {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    font-size: 0.875rem;
    padding: 0.625rem 0.75rem;
    border: none;
    border-radius: 6.25rem;
    color: $color-text-light;
    background-color: $color-background-secondary;
    width: 16%;

    span {
        display: none;
    }

    img {
        margin-top: 0.125rem;
    }

    &:hover {
        background-color: lighten($color-background-secondary, 5%);
    }

    // @media (min-width: 1024px) {
    //     span {
    //         display: block;
    //     }
    // }
}